<div class="row">
  <div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="affair in affairs" ng-class="{active: affair.id == currentAffairId }">
        <a ng-href="#/affairs/{{affair.id}}">{{ affair.name }}</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-10" ng-controller="AffairCtrl">
    <h2>{{affair.name}}</h2>

    <form name="affairForm">

      <div class="form-group">
        <label for="name">Name</label> <input id="name" type="text" class="form-control" placeholder="Name"
                                              ng-model="affair.name" required>
      </div>

      <button class="btn btn-default">Speichern</button>
      <button class="btn btn-default" ng-click="reset()">Zurücksetzen</button>
    </form>
  </div>
</div>